@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Homemade+Apple');

body {
  background-color: #064989;
  color:#032B52;
  font-weight: 500;
  font-family: 'Libre Baskerville', serif;
}

div{
    background-color: #BFDBF6;
    border:solid 3px #3B8EDD;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    border-radius: 10px;
}

hr{
    border-top: 5px double #032B52;
    color: #032B52;
    overflow: visible;
    text-align: center;
    height: 5px;
}

#header{
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#article{
    margin-bottom: 20px;
}

#footer{
    margin-bottom: 10px;
}

img{
    height:300px;
    display: inline-block;
    border: solid #064989 3px;
    border-radius: 3px;
    margin:2px;
}

ul{
    list-style: square;
    padding-left: 15px;
}

h1{
    font-family: 'Homemade Apple', cursive;
}